// Header section

.header {
    background-color: $bg-color;
}

.header__head {
    @include flexItems();
}

.header__navigation {
    column-gap: 35px;
    display: flex;
    align-items: center;

    @include for-tablet-only {
        column-gap: 20px;
    }

    @include for-phone-only {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 45px;
        position: fixed;
        z-index: 10;
        right: 0;
        top: 0;
        background-color: $secondary-color;
        width: 300px;
        height: 100vh;
        transform: translateX(200%);
        @include transition-ease();
    }

}

.head {
    display: none;
}

.menu__bar {
    display: none;

    @include for-phone-only {
        display: inline-block;
    }
}

.head:checked~.header__navigation {
    transform: translateX(0);
}

.remove__button {
    display: none;

    @include for-phone-only {
        display: inline-block;
        position: absolute;
        right: 20px;
        top: 20px;
    }



}


.header__nav-items {
    display: flex;
    column-gap: 45px;

    @include for-tablet-only {
        column-gap: 10px;
    }

    @include for-phone-only {
        flex-direction: column;
        align-items: center;
        row-gap: 35px;
    }
}

.header__head-logo img {
    @include transition-ease();

}

.header__head-logo:hover img {
    @include transform();
}

.header__links {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $secondary-color;
    opacity: 0.4;

    @include for-phone-only {
        color: #FFFFFF;
    }
}

.header__links:hover {
    color: $primary-color;
}

.header__nav-item.active .header__links {
    color: $primary-color;
}

.header__contact {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    background: linear-gradient(to right, #F6762C 0%, #ed239f 50%, #C65311 100%);
    border-radius: 10px;
    padding: 15px 30px;
    background-size: 200% auto;
    cursor: pointer;
    @include transition-ease();

    @include for-tablet-only {
        padding: 10px;
    }
}


.header__contact:hover {
    background-position: right center;
}