@mixin flexItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin transition-ease {
    transition: all 0.7s ease;
}

@mixin transform {
    transform: scale(1.1,1.1);
}

@mixin transform2 {
    transform: rotate(360deg);
}


@mixin for-phone-only {
    @media screen and (max-width: 576px) {
        @content;
    }
}