// About section


.about {
    padding-top: 50px;
}

.about__head {
    @include flexItems();
    @include for-phone-only{
        flex-direction: column;
        row-gap: 30px;
    }
}

.about__head-image {
    overflow: hidden;
}

.about__head-image img {
    width: 100%;
    @include transition-ease();
}

.about__head-image:hover img {
    @include transform();
}

.about__info-intro {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.105em;
    color: $primary-color;

    @include for-tablet-only {
        font-size: 14px;
    }

    @include for-phone-only {
        font-size: 12px;
    }
}

.about__info-title {
    font-weight: 700;
    font-size: 39px;
    line-height: 145%;
    color: $secondary-color;
    opacity: 0.8;
    max-width: 424px;

    @include for-tablet-only {
        font-size: 34px;
    }

    @include for-phone-only {
        font-size: 28px;
    }
}

.about__info-desc {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: $secondary-color;
    max-width: 432px;
    opacity: 0.6;
margin-top: 25px;
margin-bottom: 45px;
    @include for-tablet-only {
        font-size: 15px;
    }

    @include for-phone-only {
        font-size: 13px;
    }
}

.about__info-link{
    font-weight: 500;
font-size: 16px;
line-height: 24px;
color: $color;
padding: 15px 30px;
border-radius: 10px;
background-color: #190C05;
display: inline-block;
}